body{
    background-color:black;
    }
    
     h1{
    color: black;
    font-family:Arial;
    background: yellow;
    font-size: 30px;
}
    
    p{
    color:cyan ;
    font-family:verdana ;
    font-size: 20px;
    background:black ;
    }
